In [2]:
import numpy as np
import pandas as pd

# EDA

In [3]:
# Thông tin dataframe
def print_info(df):
    print("Not duplicated:", df.duplicated().value_counts()[0] == len(df))
    print("Shape =", df.shape)
    print("Missing value")
    print(df.isnull().sum())
    
# Thông tin thuộc tính của dataframe
def print_value(col, df, count):
    print("Number of "+ col + "s:",len(df[col].unique()))
    if count == True:
        print("Value counts",pd.DataFrame(df[col].value_counts().sort_index()))
    else:
        print(sorted(df[col].unique()))
    print("__________________________________________________________________________________________________________")

# Cases Report

In [4]:
df_cases_report = pd.read_csv("./data/Cases Report.csv")
df_cases_report.head()

,Outcome,Age,Gender,Reporting PHU,SpecimenDate,CaseReported Date,PHUCity,TestReported Date,CaseAcquisition info,AccurateEpisode Dt,PHU Address,PHU Website,OutbreakRelated,PHU Latitude,PHU Longitude,PHU Postal Code
0,Resolved,80s,FEMALE,Toronto Public Health,9/24/2020,2/6/2021,Toronto,2/6/2021,OB,1/26/2021,"277 Victoria Street, 5th Floor",www.toronto.ca/community-people/health-wellnes...,Yes,43.656591,-79.379358,M5B 1W2
1,Resolved,<20,MALE,Peel Public Health,12/24/2020,2/1/2021,Mississauga,2/1/2021,CC,1/29/2021,7120 Hurontario Street,www.peelregion.ca/health/,NaN,43.647471,-79.708893,L5W 1N4
2,Resolved,20s,MALE,Lambton Public Health,9/23/2020,1/15/2021,Point Edward,1/14/2021,CC,1/10/2021,160 Exmouth Street,www.lambtonhealth.on.ca,Yes,42.986416,-82.404808,N7T 7Z6
3,Resolved,20s,MALE,"Region of Waterloo, Public Health",9/20/2020,12/29/2020,Waterloo,9/23/2020,NO KNOWN EPI LINK,9/20/2020,99 Regina Street South,www.regionofwaterloo.ca,NaN,43.462876,-80.520913,N2J 4V3
4,Resolved,20s,FEMALE,Ottawa Public Health,9/21/2020,12/24/2020,Ottawa,9/22/2020,CC,9/21/2020,100 Constellation Drive,www.ottawapublichealth.ca,NaN,45.345665,-75.763912,K2G 6J8

In [5]:
print_info(df_cases_report)

Not duplicated: False
Shape = (28500, 16)
Missing value
Outcome                     0
Age                         0
Gender                      0
Reporting PHU               0
SpecimenDate              208
CaseReported Date           0
PHUCity                     0
TestReported Date         418
CaseAcquisition info        0
AccurateEpisode Dt          0
PHU Address                 0
PHU Website                 0
OutbreakRelated         19790
PHU Latitude                0
PHU Longitude               0
PHU Postal Code             0
dtype: int64

In [6]:
print_value("Outcome",df_cases_report,True)
print_value("Age",df_cases_report,0)
print_value("Gender",df_cases_report,True)
print_value("Reporting PHU",df_cases_report,0)
print_value("PHUCity",df_cases_report,0)
print_value("CaseAcquisition info",df_cases_report,0)

Number of Outcomes: 3
Value counts               Outcome
Fatal            1307
Not Resolved        1
Resolved        27192
__________________________________________________________________________________________________________
Number of Ages: 9
['20s', '30s', '40s', '50s', '60s', '70s', '80s', '90+', '<20']
__________________________________________________________________________________________________________
Number of Genders: 4
Value counts                 Gender
FEMALE           14470
GENDER DIVERSE       3
MALE             14006
UNSPECIFIED         21
__________________________________________________________________________________________________________
Number of Reporting PHUs: 34
['Algoma Public Health Unit', 'Brant County Health Unit', 'Chatham-Kent Health Unit', 'Durham Region Health Department', 'Eastern Ontario Health Unit', 'Grey Bruce Health Unit', 'Haldimand-Norfolk Health Unit', 'Haliburton, Kawartha, Pine Ridge District Health Unit', 'Halton Region Health Department', 'Hamilton Public Health Services', 'Hastings and Prince Edward Counties Health Unit', 'Huron Perth District Health Unit', 'Kingston, Frontenac and Lennox & Addington Public Health', 'Lambton Public Health', 'Leeds, Grenville and Lanark District Health Unit', 'Middlesex-London Health Unit', 'Niagara Region Public Health Department', 'North Bay Parry Sound District Health Unit', 'Northwestern Health Unit', 'Ottawa Public Health', 'Peel Public Health', 'Peterborough Public Health', 'Porcupine Health Unit', 'Region of Waterloo, Public Health', 'Renfrew County and District Health Unit', 'Simcoe Muskoka District Health Unit', 'Southwestern Public Health', 'Sudbury & District Health Unit', 'Thunder Bay District Health Unit', 'Timiskaming Health Unit', 'Toronto Public Health', 'Wellington-Dufferin-Guelph Public Health', 'Windsor-Essex County Health Unit', 'York Region Public Health Services']
__________________________________________________________________________________________________________
Number of PHUCitys: 34
['Barrie', 'Belleville', 'Brantford', 'Brockville', 'Chatham', 'Cornwall', 'Guelph', 'Hamilton', 'Kenora', 'Kingston', 'London', 'Mississauga', 'New Liskeard', 'Newmarket', 'North Bay', 'Oakville', 'Ottawa', 'Owen Sound', 'Pembroke', 'Peterborough', 'Point Edward', 'Port Hope', 'Sault Ste. Marie', 'Simcoe', 'St. Thomas', 'Stratford', 'Sudbury', 'Thorold', 'Thunder Bay', 'Timmins', 'Toronto', 'Waterloo', 'Whitby', 'Windsor']
__________________________________________________________________________________________________________
Number of CaseAcquisition infos: 6
['CC', 'MISSING INFORMATION', 'NO KNOWN EPI LINK', 'OB', 'TRAVEL', 'UNSPECIFIED EPI LINK']
__________________________________________________________________________________________________________

In [7]:
df_cases_report.duplicated().value_counts()
# df_cases_report[df_cases_report.duplicated() == True]

False    26972
True      1528
dtype: int64

In [8]:
df_cases_report[(df_cases_report['Reporting PHU'] == 'Hamilton Public Health Services') 
                & (df_cases_report['SpecimenDate'] == '10/6/2020')
                & (df_cases_report['Age'] == '<20')
                & (df_cases_report['CaseAcquisition info'] == 'OB')]

,Outcome,Age,Gender,Reporting PHU,SpecimenDate,CaseReported Date,PHUCity,TestReported Date,CaseAcquisition info,AccurateEpisode Dt,PHU Address,PHU Website,OutbreakRelated,PHU Latitude,PHU Longitude,PHU Postal Code
195,Resolved,<20,FEMALE,Hamilton Public Health Services,10/6/2020,10/8/2020,Hamilton,10/8/2020,OB,10/4/2020,"110 King St. West, 2nd Floor",www.hamilton.ca/publichealth,Yes,43.257631,-79.871341,L8P 4S6
197,Resolved,<20,FEMALE,Hamilton Public Health Services,10/6/2020,10/8/2020,Hamilton,10/8/2020,OB,10/4/2020,"110 King St. West, 2nd Floor",www.hamilton.ca/publichealth,Yes,43.257631,-79.871341,L8P 4S6

# Compiled_COVID-19_Case_Details

In [9]:
df_Compiled_COVID_19_Case_Details_Canada = pd.read_csv("./data/Compiled_COVID-19_Case_Details_Canada.csv")
df_Compiled_COVID_19_Case_Details_Canada.head()

,ObjectId,row_id,date_reported,health_region,age_group,gender,exposure,case_status,province
0,1,500,2020/03/23 12:00:00+00,Peel Public Health,20-29,Female,Close Contact,Recovered,Ontario
1,2,501,2020/04/02 12:00:00+00,Peel Public Health,40-49,Female,Close Contact,Recovered,Ontario
2,3,502,2020/03/25 12:00:00+00,"Kingston, Frontenac and Lennox & Addington Pub...",30-39,Male,Close Contact,Recovered,Ontario
3,4,503,2020/03/28 12:00:00+00,"Kingston, Frontenac and Lennox & Addington Pub...",<20,Female,Close Contact,Recovered,Ontario
4,5,504,2020/03/30 12:00:00+00,Peel Public Health,50-59,Male,Close Contact,Recovered,Ontario

In [10]:
df_Compiled_COVID_19_Case_Details_Canada.sort_values(by='row_id')

,ObjectId,row_id,date_reported,health_region,age_group,gender,exposure,case_status,province
1594,1595,0,2020/03/13 12:00:00+00,Peel Public Health,30-39,Female,Outbreak,Recovered,Ontario
2001,2002,1,2020/06/15 12:00:00+00,Peel Public Health,40-49,Female,Close Contact,Recovered,Ontario
2002,2003,2,2020/03/16 12:00:00+00,Peel Public Health,40-49,Male,Outbreak,Recovered,Ontario
2003,2004,3,2020/04/10 12:00:00+00,Peel Public Health,80+,Male,Outbreak,Deceased,Ontario
2004,2005,4,2020/03/22 12:00:00+00,Peel Public Health,50-59,Male,Not Reported,Recovered,Ontario
...,...,...,...,...,...,...,...,...,...
1048004,1048005,1049497,2020/12/02 12:00:00+00,Mauricie,Not Reported,Not Reported,Not Reported,Not Reported,Quebec
1048005,1048006,1049498,2020/12/02 12:00:00+00,Mauricie,Not Reported,Not Reported,Not Reported,Not Reported,Quebec
1048006,1048007,1049499,2020/12/02 12:00:00+00,Mauricie,Not Reported,Not Reported,Not Reported,Not Reported,Quebec
1047834,1047835,1049500,2020/12/02 12:00:00+00,Mauricie,Not Reported,Not Reported,Not Reported,Not Reported,Quebec
1048441,1048442,1049501,2020/12/02 12:00:00+00,Mauricie,Not Reported,Not Reported,Not Reported,Not Reported,Quebec

In [11]:
print("Number of cases Ontario:", len(df_Compiled_COVID_19_Case_Details_Canada[df_Compiled_COVID_19_Case_Details_Canada['province'] == "Ontario"]))
print("Duplicated\n", df_Compiled_COVID_19_Case_Details_Canada[df_Compiled_COVID_19_Case_Details_Canada['province'] == "Ontario"].duplicated().value_counts())

Number of cases Ontario: 533761
Duplicated
 False    533761
dtype: int64

In [12]:
print_info(df_Compiled_COVID_19_Case_Details_Canada)

Not duplicated: True
Shape = (1048575, 9)
Missing value
ObjectId         0
row_id           0
date_reported    0
health_region    0
age_group        0
gender           0
exposure         0
case_status      0
province         0
dtype: int64

In [13]:
print_value("health_region", df_Compiled_COVID_19_Case_Details_Canada, 0)
print_value("age_group", df_Compiled_COVID_19_Case_Details_Canada, 0)
print_value("gender", df_Compiled_COVID_19_Case_Details_Canada, 0)
print_value("exposure", df_Compiled_COVID_19_Case_Details_Canada, 0)
print_value("case_status", df_Compiled_COVID_19_Case_Details_Canada, True)
print_value("province", df_Compiled_COVID_19_Case_Details_Canada, 0)

Number of health_regions: 65
['Abitibi-Témiscamingue', 'Algoma Public Health Unit', 'Bas-Saint-Laurent', 'Brant County Health Unit', 'Calgary Zone', 'Capitale-Nationale', 'Central Zone', 'Chatham-Kent Health Unit', 'Chaudière-Appalaches', 'Côte-Nord', 'Durham Region Health Department', 'Eastern Ontario Health Unit', 'Edmonton Zone', 'Estrie', 'Fraser', 'Gaspésie-Îles-de-la-Madeleine', 'Grey Bruce Health Unit', 'Haldimand-Norfolk Health Unit', 'Haliburton, Kawartha, Pine Ridge District Health Unit', 'Halton Region Health Department', 'Hamilton Public Health Services', 'Hastings and Prince Edward Counties Health Unit', 'Huron Perth District Health Unit', 'Interior', 'Kingston, Frontenac and Lennox & Addington Public Health', 'Lambton Public Health', 'Lanaudière', 'Laurentides', 'Laval', 'Leeds, Grenville and Lanark District Health Unit', 'Mauricie', 'Middlesex-London Health Unit', 'Montréal', 'Montérégie', 'Niagara Region Public Health Department', 'Nord-du-Québec', 'North Bay Parry Sound District Health Unit', 'North Zone', 'Northern', 'Northwestern Health Unit', 'Not Reported', 'Nunavik', 'Ottawa Public Health', 'Out of Canada', 'Outaouais', 'Peel Public Health', 'Peterborough Public Health', 'Porcupine Health Unit', 'Region of Waterloo, Public Health', 'Renfrew County and District Health Unit', 'Saguenay', 'Simcoe Muskoka District Health Unit', 'South Zone', 'Southwestern Public Health', 'Sudbury & District Health Unit', 'Terres-Cries-de-la-Baie-James', 'Thunder Bay District Health Unit', 'Timiskaming Health Unit', 'Toronto Public Health', 'Unknown', 'Vancouver Coastal', 'Vancouver Island', 'Wellington-Dufferin-Guelph Public Health', 'Windsor-Essex County Health Unit', 'York Region Public Health Services']
__________________________________________________________________________________________________________
Number of age_groups: 9
['20-29', '30-39', '40-49', '50-59', '60-69', '70-79', '80+', '<20', 'Not Reported']
__________________________________________________________________________________________________________
Number of genders: 3
['Female', 'Male', 'Not Reported']
__________________________________________________________________________________________________________
Number of exposures: 4
['Close Contact', 'Not Reported', 'Outbreak', 'Travel-Related']
__________________________________________________________________________________________________________
Number of case_statuss: 4
Value counts               case_status
Active              16266
Deceased            11032
Not Reported       286686
Recovered          734591
__________________________________________________________________________________________________________
Number of provinces: 4
['Alberta', 'British Columbia', 'Ontario', 'Quebec']
__________________________________________________________________________________________________________

# ongoing_outbreadks_phu

In [14]:
df_ongoing_outbreaks_phu = pd.read_csv("./data/ongoing_outbreaks_phu.csv")
df_ongoing_outbreaks_phu.head()

        date  phu_num     outbreak_group  number_ongoing_outbreaks
0  11/1/2020     2227  1 Congregate Care                         2
1  11/1/2020     2227        4 Workplace                         1
2  11/1/2020     2240        4 Workplace                         1
3  11/1/2020     2240     5 Recreational                         1
4  11/1/2020     2240    6 Other/Unknown                         1

In [15]:
print_info(df_ongoing_outbreaks_phu)

Not duplicated: True
Shape = (56987, 4)
Missing value
date                        0
phu_num                     0
outbreak_group              0
number_ongoing_outbreaks    0
dtype: int64

In [16]:
print_value("phu_num", df_ongoing_outbreaks_phu, 0)
print_value("outbreak_group", df_ongoing_outbreaks_phu, True)

Number of phu_nums: 34
[2226, 2227, 2230, 2233, 2234, 2235, 2236, 2237, 2238, 2240, 2241, 2242, 2243, 2244, 2246, 2247, 2249, 2251, 2253, 2255, 2256, 2257, 2258, 2260, 2261, 2262, 2263, 2265, 2266, 2268, 2270, 3895, 4913, 5183]
__________________________________________________________________________________________________________
Number of outbreak_groups: 6
Value counts                      outbreak_group
1 Congregate Care             15522
2 Congregate Living           12578
3 Education                    8251
4 Workplace                    9555
5 Recreational                 6548
6 Other/Unknown                4533
__________________________________________________________________________________________________________

# Public health unit

In [17]:
df_Public_health_unit = pd.read_excel("./data/Public health unit.xls")
df_Public_health_unit.head()

,PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
0,2244,Middlesex-London Health Unit,50 King Street,London,N6A 5L7,www.healthunit.com,4299571559,-814569832
1,2236,Halton Region Health Department,1151 Bronte Road,Oakville,L6M 3Ll,www.halton.ca/For-Residents/Public-Health/,4351209709,-7989050809
2,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,4372584482,-7938955775
3,5183,Huron Perth District Health Unit,653 West Gore Street,Stratford,N5A 1L4,www.hpph.ca,4360051407,-8128148453
4,2266,Wellington-Dufferin-Guelph Public Health,160 Chancellors Way,Guelph,N1G 0E1,www.wdgpublichealth.ca,4385364154,-8037208498

In [18]:
print_info(df_Public_health_unit)

Not duplicated: False
Shape = (35, 8)
Missing value
PHU_ID                       0
Reporting_PHU                0
Reporting_PHU_Address        0
Reporting_PHU_City           0
Reporting_PHU_Postal_Code    0
Reporting_PHU_Website        0
Reporting_PHU_Latitude       0
Reporting_PHU_Longitude      0
dtype: int64

In [19]:
print(df_Public_health_unit.duplicated().value_counts())
print("The value that duplicated:",df_Public_health_unit[df_Public_health_unit.duplicated()].values)
print("The line that duplicated")
df_Public_health_unit[df_Public_health_unit['PHU_ID'] == 2244]

False    34
True      1
dtype: int64
The value that duplicated: [[2244 'Middlesex-London Health Unit' '50 King Street' 'London' 'N6A 5L7'
  'www.healthunit.com' 4299571559 -814569832]]
The line that duplicated

,PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
0,2244,Middlesex-London Health Unit,50 King Street,London,N6A 5L7,www.healthunit.com,4299571559,-814569832
34,2244,Middlesex-London Health Unit,50 King Street,London,N6A 5L7,www.healthunit.com,4299571559,-814569832

In [20]:
print_value("PHU_ID", df_Public_health_unit, 0)
print_value("Reporting_PHU", df_Public_health_unit, 0)
print_value("Reporting_PHU_City", df_Public_health_unit, 0)

Number of PHU_IDs: 34
[2226, 2227, 2230, 2233, 2234, 2235, 2236, 2237, 2238, 2240, 2241, 2242, 2243, 2244, 2246, 2247, 2249, 2251, 2253, 2255, 2256, 2257, 2258, 2260, 2261, 2262, 2263, 2265, 2266, 2268, 2270, 3895, 4913, 5183]
__________________________________________________________________________________________________________
Number of Reporting_PHUs: 34
['Algoma Public Health Unit', 'Brant County Health Unit', 'Chatham-Kent Health Unit', 'Durham Region Health Department', 'Eastern Ontario Health Unit', 'Grey Bruce Health Unit', 'Haldimand-Norfolk Health Unit', 'Haliburton, Kawartha, Pine Ridge District Health Unit', 'Halton Region Health Department', 'Hamilton Public Health Services', 'Hastings and Prince Edward Counties Health Unit', 'Huron Perth District Health Unit', 'Kingston, Frontenac and Lennox & Addington Public Health', 'Lambton Public Health', 'Leeds, Grenville and Lanark District Health Unit', 'Middlesex-London Health Unit', 'Niagara Region Public Health Department', 'North Bay Parry Sound District Health Unit', 'Northwestern Health Unit', 'Ottawa Public Health', 'Peel Public Health', 'Peterborough Public Health', 'Porcupine Health Unit', 'Region of Waterloo, Public Health', 'Renfrew County and District Health Unit', 'Simcoe Muskoka District Health Unit', 'Southwestern Public Health', 'Sudbury & District Health Unit', 'Thunder Bay District Health Unit', 'Timiskaming Health Unit', 'Toronto Public Health', 'Wellington-Dufferin-Guelph Public Health', 'Windsor-Essex County Health Unit', 'York Region Public Health Services']
__________________________________________________________________________________________________________
Number of Reporting_PHU_Citys: 34
['Barrie', 'Belleville', 'Brantford', 'Brockville', 'Chatham', 'Cornwall', 'Guelph', 'Hamilton', 'Kenora', 'Kingston', 'London', 'Mississauga', 'New Liskeard', 'Newmarket', 'North Bay', 'Oakville', 'Ottawa', 'Owen Sound', 'Pembroke', 'Peterborough', 'Point Edward', 'Port Hope', 'Sault Ste. Marie', 'Simcoe', 'St. Thomas', 'Stratford', 'Sudbury', 'Thorold', 'Thunder Bay', 'Timmins', 'Toronto', 'Waterloo', 'Whitby', 'Windsor']
__________________________________________________________________________________________________________

# Public Health Units GROUP

In [21]:
df_Public_Health_Units_GROUP = pd.read_excel("./data/Public Health Units GROUP.xls")
df_Public_Health_Units_GROUP.head()

,PHU_Group,PHU_City,PHU_region
0,Central,Toronto,Toronto Public Health
1,Central,Newmarket,York Region Public Health Services
2,Central East,Durham Region,Durham Region Health Department
3,Central East,Port Hope,"Haliburton, Kawartha, Pine Ridge District Heal..."
4,Central East,Peterborough,Peterborough Public Health

In [22]:
print_info(df_Public_Health_Units_GROUP)

Not duplicated: True
Shape = (34, 3)
Missing value
PHU_Group     0
PHU_City      0
PHU_region    0
dtype: int64

In [23]:
print_value("PHU_Group", df_Public_Health_Units_GROUP, 0)
print_value("PHU_City", df_Public_Health_Units_GROUP, 0)
print_value("PHU_region", df_Public_Health_Units_GROUP, 0)

Number of PHU_Groups: 13
['Central', 'Central East', 'Central West', 'Champlain', 'Erie St. Clair', 'Hamilton Niagara Haldimand Brant', 'Mississauga Halton', 'North East', 'North Simcoe Muskoka', 'North West', 'South East', 'South West', 'Waterloo Wellington']
__________________________________________________________________________________________________________
Number of PHU_Citys: 34
['Barrie', 'Belleville', 'Brantford', 'Brockville', 'Chatham', 'Cornwall', 'Durham Region', 'Fergus', 'Hamilton', 'Kenora', 'Kingston', 'London', 'Mississauga', 'New Liskeard', 'Newmarket', 'North Bay', 'Oakville', 'Ottawa', 'Owen Sound', 'Pembroke', 'Peterborough', 'Point Edward', 'Port Hope', 'Sault Ste. Marie', 'Simcoe', 'St. Thomas', 'Stratford', 'Sudbury', 'Thorold', 'Thunder Bay', 'Timmins', 'Toronto', 'Waterloo', 'Windsor']
__________________________________________________________________________________________________________
Number of PHU_regions: 34
['Algoma Public Health Unit', 'Brant County Health Unit', 'Chatham-Kent Health Unit', 'Durham Region Health Department', 'Eastern Ontario Health Unit', 'Grey Bruce Health Unit', 'Haldimand-Norfolk Health Unit', 'Haliburton, Kawartha, Pine Ridge District Health Unit', 'Halton Region Health Department', 'Hamilton Public Health Services', 'Hastings and Prince Edward Counties Health Unit', 'Huron Perth Health Unit', 'Kingston, Frontenac and Lennox & Addington Health Unit', 'Lambton Health Unit', 'Leeds, Grenville and Lanark District Health Unit', 'Middlesex-London Health Unit', 'Niagara Region Public Health Department', 'North Bay Parry Sound District Health Unit', 'Northwestern Health Unit', 'Ottawa Public Health', 'Peel Public Health', 'Peterborough Public Health', 'Porcupine Health Unit', 'Region of Waterloo, Public Health', 'Renfrew County and District Health Unit', 'Simcoe Muskoka District Health Unit', 'Southwestern Public Health', 'Sudbury and District Health Unit', 'Thunder Bay District Health Unit', 'Timiskaming Health Unit', 'Toronto Public Health', 'Wellington-Dufferin-Guelph Health Unit', 'Windsor-Essex County Health Unit', 'York Region Public Health Services']
__________________________________________________________________________________________________________

### Mapping 'Public_health_unit' vs 'Public_Health_Units_GROUP' = "City"

In [24]:
df_Public_health_unit[df_Public_health_unit['Reporting_PHU_City'].isin(df_Public_Health_Units_GROUP['PHU_City']) == False]['Reporting_PHU_City']

4    Guelph
9    Whitby
Name: Reporting_PHU_City, dtype: object

In [25]:
df_Public_health_unit[(df_Public_health_unit['Reporting_PHU_City'] == 'Guelph')
                    | (df_Public_health_unit['Reporting_PHU_City'] == 'Whitby')]

,PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
4,2266,Wellington-Dufferin-Guelph Public Health,160 Chancellors Way,Guelph,N1G 0E1,www.wdgpublichealth.ca,4385364154,-8037208498
9,2230,Durham Region Health Department,605 Rossland Road East,Whitby,L1N 0B2,www.durham.ca/en/health-and-wellness/health-an...,4403514967,-7888249823

In [26]:
df_Public_Health_Units_GROUP[df_Public_Health_Units_GROUP['PHU_City'].isin(df_Public_health_unit['Reporting_PHU_City']) == False]['PHU_City']

2    Durham Region
5           Fergus
Name: PHU_City, dtype: object

In [27]:
df_Public_Health_Units_GROUP[(df_Public_Health_Units_GROUP['PHU_City'] == 'Durham Region')
                    | (df_Public_Health_Units_GROUP['PHU_City'] == 'Fergus')]

      PHU_Group       PHU_City                              PHU_region
2  Central East  Durham Region         Durham Region Health Department
5  Central West         Fergus  Wellington-Dufferin-Guelph Health Unit

# Vaccines_by_age_phu

In [28]:
df_vaccines_by_age_phu = pd.read_csv("./data/vaccines_by_age_phu.csv")
df_vaccines_by_age_phu.head()

,Date,PHU ID,Agegroup,At least one dose_cumulative,Second_dose_cumulative,fully_vaccinated_cumulative,third_dose_cumulative
0,7/26/2021,2226,12-17yrs,3843.0,1890.0,NaN,NaN
1,7/26/2021,2227,12-17yrs,6306.0,3567.0,NaN,NaN
2,7/26/2021,2230,12-17yrs,34025.0,16953.0,NaN,NaN
3,7/26/2021,2233,12-17yrs,5533.0,3627.0,NaN,NaN
4,7/26/2021,2234,12-17yrs,3125.0,1711.0,NaN,NaN

In [29]:
print_info(df_vaccines_by_age_phu)

Not duplicated: True
Shape = (171182, 7)
Missing value
Date                                 0
PHU ID                               0
Agegroup                             0
At least one dose_cumulative       211
Second_dose_cumulative          122540
fully_vaccinated_cumulative      49270
third_dose_cumulative            65167
dtype: int64

In [30]:
print_value("PHU ID", df_vaccines_by_age_phu, 0)
print_value("Agegroup", df_vaccines_by_age_phu, 0)

Number of PHU IDs: 35
[2226, 2227, 2230, 2233, 2234, 2235, 2236, 2237, 2238, 2240, 2241, 2242, 2243, 2244, 2246, 2247, 2249, 2251, 2253, 2255, 2256, 2257, 2258, 2260, 2261, 2262, 2263, 2265, 2266, 2268, 2270, 3895, 4913, 5183, 9999]
__________________________________________________________________________________________________________
Number of Agegroups: 13
['05-11yrs', '12-17yrs', '18-29yrs', '30-39yrs', '40-49yrs', '50-59yrs', '60-69yrs', '70-79yrs', '80+', 'Adults_18plus', 'Ontario_12plus', 'Ontario_5plus', 'Undisclosed_or_missing']
__________________________________________________________________________________________________________

In [31]:
df_vaccines_by_age_phu[df_vaccines_by_age_phu['PHU ID'] == 9999]

,Date,PHU ID,Agegroup,At least one dose_cumulative,Second_dose_cumulative,fully_vaccinated_cumulative,third_dose_cumulative
34,7/26/2021,9999,12-17yrs,207.0,20.0,NaN,NaN
69,7/26/2021,9999,18-29yrs,1313.0,135.0,NaN,NaN
104,7/26/2021,9999,30-39yrs,932.0,138.0,NaN,NaN
139,7/26/2021,9999,40-49yrs,507.0,97.0,NaN,NaN
174,7/26/2021,9999,50-59yrs,495.0,113.0,NaN,NaN
...,...,...,...,...,...,...,...
171041,8/25/2022,9999,80+,218.0,NaN,185.0,29.0
171076,8/25/2022,9999,Adults_18plus,35068.0,NaN,23845.0,2303.0
171111,8/25/2022,9999,Ontario_12plus,36351.0,NaN,24578.0,2331.0
171146,8/25/2022,9999,Ontario_5plus,36414.0,NaN,24638.0,2331.0
171181,8/25/2022,9999,Undisclosed_or_missing,100.0,NaN,54.0,6.0

-> ID = 9999 không phải outlier

# SUMMARY

In [32]:
print(df_cases_report['Age'].unique())
print(df_Compiled_COVID_19_Case_Details_Canada['age_group'].unique().tolist())

['80s' '<20' '20s' '30s' '40s' '70s' '60s' '50s' '90+']
['20-29', '40-49', '30-39', '<20', '50-59', '60-69', '80+', '70-79', 'Not Reported']

In [33]:
phu_1 = df_Public_health_unit['Reporting_PHU'].tolist()
phu_2 = df_Public_Health_Units_GROUP['PHU_region'].tolist()
phu_3 = df_cases_report['Reporting PHU'].unique().tolist()
phu_4 = df_Compiled_COVID_19_Case_Details_Canada['health_region'].unique().tolist()

for i in range(len(phu_1)):
    phu_1[i] = phu_1[i].replace('Health Unit', 'Public Health')
    phu_1[i] = phu_1[i].replace(' &', ',')
    phu_1[i] = phu_1[i].replace(' and', ',')
    phu_1[i] = phu_1[i].replace(' District', '')

# REPLACE(REPLACE(REPLACE(REPLACE( [Reporting PHU] , "Health Unit", "Public Health"), " &", ","), " and", ","), " District", "")

for i in range(len(phu_2)):
    phu_2[i] = phu_2[i].replace('Health Unit', 'Public Health')
    phu_2[i] = phu_2[i].replace(' &', ',')
    phu_2[i] = phu_2[i].replace(' and', ',')
    phu_2[i] = phu_2[i].replace(' District', '')

for i in range(len(phu_3)):
    phu_3[i] = phu_3[i].replace('Health Unit', 'Public Health')
    phu_3[i] = phu_3[i].replace(' &', ',')
    phu_3[i] = phu_3[i].replace(' and', ',')
    phu_3[i] = phu_3[i].replace(' District', '')

for i in range(len(phu_4)):
    phu_4[i] = phu_4[i].replace('Health Unit', 'Public Health')
    phu_4[i] = phu_4[i].replace(' &', ',')
    phu_4[i] = phu_4[i].replace(' and', ',')
    phu_4[i] = phu_4[i].replace(' District', '')

for phu in phu_1:
    if phu not in phu_2:
        print(phu)

for phu in phu_1:
    if phu not in phu_3:
        print(phu)

for phu in phu_1:
    if phu not in phu_4:
        print(phu)

In [45]:
df_Public_health_unit['PHU_ID'].value_counts()[df_Public_health_unit['PHU_ID'].value_counts() != 1]

2244    2
Name: PHU_ID, dtype: int64

In [46]:
df_Public_health_unit[df_Public_health_unit['PHU_ID'] == 2244]

,PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
0,2244,Middlesex-London Health Unit,50 King Street,London,N6A 5L7,www.healthunit.com,4299571559,-814569832
34,2244,Middlesex-London Health Unit,50 King Street,London,N6A 5L7,www.healthunit.com,4299571559,-814569832

In [59]:
phu_id_1 = df_ongoing_outbreaks_phu['phu_num'].unique()

In [60]:
phu_id_2 = df_Public_health_unit['PHU_ID'].unique()

In [62]:
for phu in phu_id_1:
    if phu not in phu_id_2:
        print(phu)

for phu in phu_id_2:
    if phu not in phu_id_1:
        print(phu)

In [66]:
df_cases_report['CaseAcquisition info'].unique()

array(['OB', 'CC', 'NO KNOWN EPI LINK', 'TRAVEL', 'MISSING INFORMATION',
       'UNSPECIFIED EPI LINK'], dtype=object)

In [67]:
df_Compiled_COVID_19_Case_Details_Canada['exposure'].unique()

array(['Close Contact', 'Travel-Related', 'Not Reported', 'Outbreak'],
      dtype=object)

In [ ]:
# [SSIS.Pipeline] Error: SSIS Error Code DTS_E_PROCESSINPUTFAILED.  
# The ProcessInput method on component "Insert Into Case (NDS)" (11) 
# failed with error code 0xC0209029 while processing input "OLE DB Destination Input" (24). 
# The identified component returned an error from the ProcessInput method. 
# The error is specific to the component, but the error is fatal and will cause 
# the Data Flow task to stop running.  There may be error messages posted before this with more information about the failure.

In [68]:
df_cases_report['Reporting PHU' ]

0                     Toronto Public Health
1                        Peel Public Health
2                     Lambton Public Health
3         Region of Waterloo, Public Health
4                      Ottawa Public Health
                        ...
28495    York Region Public Health Services
28496    York Region Public Health Services
28497       Durham Region Health Department
28498       Durham Region Health Department
28499    York Region Public Health Services
Name: Reporting PHU, Length: 28500, dtype: object

In [70]:
len(df_Compiled_COVID_19_Case_Details_Canada['health_region'].unique())

65